Automat==0.7.0
Babel==2.7.0
Bottleneck==1.2.1
Click==7.0
Cython==0.28.5
Flask-Cors==3.0.9
Flask==1.1.1
Jinja2==2.11.3
Mako==1.0.7
MarkupSafe==1.1.1
Pillow==8.3.2
PyDictionary==1.5.2
PyMySQL==0.8.0
PySocks==1.6.8
PyWavelets==1.0.0
PyYAML==5.4
Pygments==2.7.4
QtAwesome==0.4.4
QtPy==1.5.0
SQLAlchemy==1.3.5
SecretStorage==3.1.0
Send2Trash==1.5.0
Sphinx==2.1.2
Twisted==20.3.0
Unidecode==1.1.1
Werkzeug==0.15.4
XlsxWriter==1.1.0
alabaster==0.7.12
alembic==1.0.5
allennlp==0.8.4
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.0.4
astropy==3.0.4
async-generator==1.10
atomicwrites==1.2.1
atomicwrites==1.3.0
attrs==19.1.0
awscli==1.16.213
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
bash-kernel==0.7.1
batchspawner==0.8.1
beautifulsoup4==4.8.0
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach>3.1.1
blis==0.2.4
bokeh==0.13.0
boto3==1.9.203
boto==2.49.0
botocore==1.12.203
certifi==2019.6.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.5
clyent==1.2.2
colorama==0.3.9
conda-build==3.15.1
conda==4.5.11
conllu==0.11
constantly==15.1.0
contextlib2==0.5.5
coverage==3.7.1
coveralls==0.5
cryptography==3.3.2
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dask==0.19.1
datajoint==0.9.0
datascience==0.10.6
datashape==0.5.4
decorator==4.1.2
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.7.1
distributed==1.23.1
docopt==0.6.2
docutils==0.14
editdistance==0.5.3
en-core-web-sm==2.1.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
fasttext==0.8.22
filelock==3.0.8
flaky==3.6.1
folium==0.2.1
ftfy==5.6
futures==3.1.1
gensim==3.8.0
gevent==1.4.0
glob2==0.6
gmpy2==2.0.8
goslate==1.5.1
greenlet==0.4.15
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0b10
hyperlink==18.0.0
idna==2.7
idna==2.8
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.18
incremental==17.5.0
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.16.3
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.1
jeepney==0.3.1
jmespath==0.9.4
joblib==0.13.2
jsonnet==0.13.0
jsonpickle==1.2
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
jupyterhub-ldapauthenticator==1.2.2
jupyterhub==0.9.6
jupyterlab-launcher==0.13.1
jupyterlab==1.2.21
keyring==13.2.1
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
lda==1.0.5
ldap3==2.5.1
llvmlite==0.29.0
locket==0.2.0
lxml==4.6.3
matlab-kernel==0.16.1
matplotlib==3.1.1
mccabe==0.6.1
metakernel==0.20.14
mistune==0.8.4
mkl-fft==1.0.4
mkl-random==1.0.1
more-itertools==7.1.0
mpld3==0.3
mpmath==1.0.0
msgpack-numpy==0.4.1
msgpack-python==0.4.8
msgpack==0.5.6
multipledispatch==0.6.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
nbgitpuller==0.6.1
networkx==2.1
nltk==3.4.5
nose==1.3.7
notebook==6.4.1
numba==0.44.1
numexpr==2.6.8
numpy==1.16.4
numpydoc==0.9.1
odo==0.5.1
olefile==0.46
openpyxl==2.5.6
overrides==1.9
packaging==19.0
pamela==0.3.0
pandas==0.23.4
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.3.1
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
pathlib==1.0.1
patsy==0.5.0
pbr==3.1.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pkginfo==1.4.2
plac==0.9.6
pluggy==0.7.1
ply==3.11
preshed==2.0.1
prometheus-client==0.5.0
prompt-toolkit==1.0.15
protobuf==3.9.1
psutil==5.6.6
ptyprocess==0.6.0
py==1.10.0
pyOpenSSL==18.0.0
pyasn1-modules==0.2.2
pyasn1==0.4.5
pybind11==2.3.0
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycurl==7.43.0.2
pydotplus==2.0.2
pyflakes==2.0.0
pylint==2.1.1
pyodbc==4.0.24
pyparsing==2.2.0
pyparsing==2.4.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
pytest==5.0.1
python-dateutil==2.8.0
python-editor==1.0.3
python-oauth2==1.1.0
pytorch-pretrained-bert==0.6.2
pytz==2019.1
pyzmq==17.1.2
qtconsole==4.4.1
regex==2019.6.8
requests==2.19.1
requests==2.20.0
responses==0.10.6
rope==0.11.0
rsa==4.7
ruamel-yaml==0.15.46
s3transfer==0.2.1
scikit-image==0.14.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.4
snowballstemmer==1.9.0
sortedcollections==1.0.1
sortedcontainers==2.0.5
soupsieve==1.9.3
spacy==2.1.6
spacy==2.1.7
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
spyder-kernels==0.2.6
spyder==3.3.1
sqlparse==0.3.0
srsly==0.0.7
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
tblib==1.3.2
tensorboardX==1.8
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==7.0.8
toolz==0.9.0
torch==1.1.0
tornado==5.1.1
tqdm==4.32.2
traitlets==4.3.2
ujson==1.35
umap-learn==0.3.9
umap==0.1.1
unicodecsv==0.14.1
urllib3==1.26.5
virtualenv==16.1.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
word2number==1.1
wrapt==1.10.11
wurlitzer==1.0.2
xlrd==1.1.0
xlwt==1.3.0
zict==0.1.3
zipp==0.5.2
zope.interface==4.5.0
